{% extends "admin/base.html" %}

{% block title %}
<title>Draft for NgAdImin</title>
{% endblock %}

{% block content %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Draft for ng-AdImin</h1>
					<div class="alert alert-success">
					  Satu post berisi:
					  <ol>
						<li>Satu Title</li>
						<li>Satu Kategori</li>
						<li>Banyak Tags</li>
						<li>Banyak Gambar</li>
					  </ol>

					  <br>

					  This will contains images that is supposed to be
					  ready for posted.<br>
					  <ol>
						<li>contains post title</li>
						<li>category (drop-down list select option)</li>
						<li>tags (textarea, comma separated)</li>
						<li>include/exclude</li>
						<li>Post!</li>
					  </ol>
					  
					  <strong>TODO:</strong>
					  <ol>
						<li>Buat route untuk tags</li>
					  </ol>
					  
					</div>

					<form method="post" action="/admin/draft">
					  <div class="form-group">
						<label>Post Title</label>
						<input class="form-control" type="text" name="title" />
					  </div>
					  <div class="form-group">
						<label>Post Category</label>
						<select name="category" class="form-control">
						  {% for cat in categories %}
						  <option>{{ cat }}</option>
						  {% endfor %}
						</select>
					  </div>
					  <div class="form-group">
						<label>Post Tags</label>
						<textarea class="form-control">yes</textarea>
					  </div>
					  <table class="table table-bordered">
						<thead>
						  <tr>
							<th>#</th>
							<th>Thumb</th>
							<th>w</th>
							<th>h</th>
							<th>Title</th>
							<th>Select</th>
							<th>Fname</th>
						  </tr>
						</thead>
						<tbody>
						  {% set count = 1 %}
						  {% for img in images %}
						  <tr>
							<td>{{ count }}</td>
							<td><img src="/admin/temp_images/{{ img }}" width="150"></td>
							<td>{{ img['width'] }}</td>
							<td>{{ img['height'] }}</td>
							<td><textarea name="textareaTitle" class="form-control" rows="5">{{ img }}</textarea></td>
							<td><input type="checkbox" name="check" value="{{ count - 1 }}"></td>
							<td><input type="text" name="fname" value="{{ img }}" /></td>
						  </tr>
						  {% set count = count + 1 %}
						  {% endfor %}
						</tbody>
					  </table>
					  <button class="btn btn-large btn-primary" type="submit" id="butInsertAll">Post Selections</button>
					</form>

                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
	<br />
{% endblock %}
