{% extends "admin/base.html" %}

{% block title %}
<title>Grabber for NgAdImin</title>
{% endblock %}

{% block content %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">ng-AdImin</h1>

		    {% if data %}
		    <form>
                  <div class="input-group custom-search-form">
		    
                    <input type="text" class="form-control" value="{{ query }}" name="query">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                      </button>
		    </span>
                  </div>
		</form>
		    <br />
		    <form method="post" action="/admin/grabber">
                <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Thumb</th>
					<th>w</th>
					<th>h</th>
                    <th>Title</th>
                    <th>Select</th>
					<th>URL</th>
                  </tr>
                </thead>
                <tbody>
                  {% set count = 1 %}
		  {% for d in data %}
                  <tr>
                    <td>{{ count }}</td>
                    <td><img src="http://hackpad.imgix.net/{{ d['url'] }}?w=150&h=150&fit=crop"></td>
		    <td>{{ d['width'] }}</td>
		    <td>{{ d['height'] }}</td>
                    <td><textarea name="textareaTitle" class="form-control" rows="5">{{ d['titleNoFormatting'] }}</textarea></td>
                    <td><input type="checkbox" name="check" value="{{ count - 1 }}"></td>
					<td><input type="text" name="url" value="{{ d['url'] }}" /></td>
                  </tr>
                  {% set count = count + 1 %}
		  {% endfor %}
                </tbody>
                </table>
		<button class="btn btn-large btn-primary" type="submit" id="butInsertAll">Insert All Selection</button>
    </form>
		{% else %}
		<form>
                  <div class="input-group custom-search-form">
		    
                    <input type="text" class="form-control" placeholder="Search..." name="query">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                      </button>
		    </span>
                  </div>
		</form>
		{% endif %}


                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
	<br />
{% endblock %}
